* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
p {
  font-size: 14px;
  color: hsl(228, 45%, 44%);
  font-family: sans-serif;
}
body {
  padding: 25px;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}
.container {
  width: 100vw;
  max-width: 1440px;
  min-width: 300px;
  display: flex;
  margin: auto;
}

#card {
  display: flex;
  width: 650px;
  height: 450px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
#leftcard {
  flex: 1;
}
#rightcard {
  flex: 1;
}
.inner-card {
  padding: 25px;
}
#price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  text-transform: capitalize;
}
button:hover {
  background-color: black;
}

.cart {
  display: block;
  width: 25px;
  height: 25px;

  background: url("./images/icon-cart.svg") center no-repeat;
}

@media screen and (max-width: 650px) {
  #card {
    flex-direction: column;
    height: auto;
  }
}
